# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these
# owners will be requested for review when someone opens a
# pull request.
* @rtheis @jmcmeek @jonesbr

# Owners: Documentation and Testing
/docs/ @rtheis @jmcmeek @jonesbr @behle @ctrath @jckasper @Adam-Mihelcsik
/test-fixtures/ @rtheis @jmcmeek @jonesbr @behle @ctrath @jckasper @Adam-Mihelcsik
/tests/ @rtheis @jmcmeek @jonesbr @behle @ctrath @jckasper @Adam-Mihelcsik

# Owners: Load Balancers
/addons/ @behle @ctrath @jckasper @Adam-Mihelcsik
/ibm/*loadbalancer*.go @behle @ctrath @jckasper @Adam-Mihelcsik
